body {
    margin: 0;
}

.sidebar {
    width: 250px;
    height: 100vh;
}

.nav-link:hover {
    background-color: #495057;
    border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}